*{
    box-sizing: border-box;
    font-family: monospace;
    font-size: 22px;
    font-weight: 600;
}

body{
    background: linear-gradient(to right, #7b00ff, #f394ff);
}

.clock{
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255,.6);
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
}

.clock .number{
    --rotation: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
}

/* Placing the numbers in clock in circle */
.clock .number1{ --rotation: 30deg;}
.clock .number2{ --rotation: 60deg;}
.clock .number3{ --rotation: 90deg;}
.clock .number4{ --rotation: 120deg;}
.clock .number5{ --rotation: 150deg;}
.clock .number6{ --rotation: 180deg;}
.clock .number7{ --rotation: 210deg;}
.clock .number8{ --rotation: 240deg;}
.clock .number9{ --rotation: 270deg;}
.clock .number10{ --rotation: 300deg;}
.clock .number11{ --rotation: 330deg;}

.clock .hand{
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 10px;
    height: 40%;
    background-color: #490052;
    border: 1px solid rgba(255, 255, 255,.6);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    transform-origin: bottom ;
    transform: translateX(-50%) rotate(calc(var(--rotation)*1deg));
}